<div id="mainContent" class="container">
  <div class="row">
    <div class="col-sm-8">
      <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="작품">
						<div>
										<div class="navbar-form container">
											<div class="navbar-left">
												 <h3>#{{galleryphoto.photoData.photo_id}}. <strong>{{galleryphoto.photoData.photo_title}}</strong></h3>
													<span>{{galleryphoto.photoData.description}}</span>
													<div class="bar"></div>
													 <span>{{galleryphoto.photoData.created | date : 'yyyy년 MM월 dd일'}}</span>
													<div class="bar"></div>
												 <span>조회 {{galleryphoto.photoData.view}}</span>
											</div>
											<div class="navbar-right" ng-show="userArticle">
												<div class="form-group navbar-btn">
													<a ui-sref="app.galleryphoto.edit({photo_id: photo.photo_id})" class="btn btn-success">Edit  </a>
													<a ng-click="deletePhoto({id: photo.board_id})" class="btn btn-danger">Delete </a>
												</div>
											</div>
										</div>

									<div class="navbar-form container">
										<div class="photo container-fluid">
											<div class="photo-image">
													<img class="img-responsive center-block" ng-src="{{galleryphoto.photoData.photo_path}}" alt="{{galleryphoto.photoData.photo_title}}"><span class="mask"></span>
													<span class="photo-author">Copyright {{galleryphoto.photoData.created | date : 'yyyy'}}. {{galleryphoto.photoData.username}} all rights reserved.</span>
											</div>
										</div>
									</div>
									<div class="navbar-form container text-center">
										<h4>{{galleryphoto.photoData.photo_detail}}</h4>
									</div>

							</div>

<!-- <p>관련 작품</p> -->
										<div class="container-fluid">
											<p>관련 작품</p>
										</div>
										<div class="col-xs-12 col-sm-6" ng-repeat="photo in galleryphoto.photosData">
											<div class="card">
														<div class="card-image">
															<a ui-sref="app.gallery.show({photo_id: photo.photo_id, photo_type:photo.photo_type})" ui-sref-active="active">
																<img class="img-responsive" ng-src="{{photo.photo_path}}">
															</a>
														</div>
														<div class="card-content">
																<p>{{photo.photo_title}}</p>
														</div>
														<div class="card-action">
																<div class="row">
																	<div class="col-xs-6 col-sm-6" style="text-align:left">
																	 <span class="text-left">{{photo.description}}</span>
																 </div>
																 <div class="col-xs-6 col-sm-6" style="text-align:right">
																		<i class="fa fa-heart" aria-hidden="true" style="color:#E96725;"></i>  {{photo.view}}
																 </div>
															 </div>
														</div>
												</div>
											</div>
                </uib-tab>
              </uib-tabset>
            </form>

    </div>

<div class="clearfix visible-xs"></div>
    <div class="col-sm-4">
      <div class ="row show-hide-message" ng-show="artistPhoto.successMsg">
        <div class="alert alert-success">{{artistPhoto.successMsg}}</div>
      </div>
      <div class ="row show-hide-message" ng-show="artistPhoto.errorMsg">
        <div class="alert alert-danger">{{artistPhoto.errorMsg}}</div>
      </div>

      <div style="border:1px solid #dcdcdc; padding:25px; margin-top:75px;">
				<div class="media">
					<div class="media-left media-middle">
            <a ui-sref="app.artist.show({artist_id: galleryphoto.photoData.user_id})">
  						<img style="width:70px; height:70px;  border-radius: 10px;" ng-src="{{galleryphoto.photoData.profile_image}}">
            </a>
					</div>
					<div class="media-body media-bottom">
						<P class="media-heading">&nbsp;<i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;{{galleryphoto.photoData.username}}</P>
						<a ng-click="artistPhoto.contactArtist()"><p>&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;{{galleryphoto.photoData.email}}</p></a>
					</div>
				</div>
      </div>


<!-- 댓글 -->

			<div class="content-coment">
				<!-- 사용자가 로그인 하였을 때-->
        <div style="margin-top:15px; color:#e96725;">
          <p>댓글 {{galleryphoto.commentData.length}}</p>
        </div>
        <div>
						<form ng-show="main.isLoggedIn" name="commentForm">
                <div style="padding:0px; margin-bottom:5px;"class="form-group"  ng-class = "{'has-success': (commentForm.comment.$valid && !commentForm.comment.$pristine), 'has-error': (!commentForm.comment.$valid && !commentForm.comment.$pristine) ||
									(!commentForm.comment.$valid && commentForm.$submitted)}">
                  <textarea class="form-control"  placeholder="댓글은 1,000자까지 작성할 수 있으며 주제와 무관한 댓글, 악성 댓글은 삭제될 수 있습니다."
                    id="comment"  name = "comment" ng-model="comment.commentData"></textarea>
               </div>
						</form>
          </div>
          <div>
            <button ng-click="galleryphoto.createComment(comment.commentData);" style="width:100%;" class="btn btn-enroll" >댓글 작성</button>
          </div>
				<br>
						<div class="comment_border">
								<div class="comment_list_border" ng-repeat="comment in galleryphoto.commentData">
                  <div class="media" style="padding:5px;">
                    <div class="media-left media-middle">
                        <img style="width:50px; height:50px;  border-radius: 10px;" ng-src="{{comment.profile_image}}">
                    </div>
                    <div class="media-body media-bottom">
                      <P class="media-heading">&nbsp;<em>{{comment.username}}</em> {{comment.created | date : 'yyyy년 MM월 dd일'}}</P>
                      <p>{{comment.content}}</p>
                    </div>
                  </div>
							</div>
					</div>
			</div>
    </div>
  </div>
</div>
