<!-- 로그인 하였을 때 -->
<div ng-show="main.isLoggedIn">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>

<!-- 로그인 하지 않았을 때 -->
<!-- This Area is visible on an EXTRA SMALL screen. -->
<div class="visible-xs">
  <div>
  <a ui-sref="app.intro">
    <img style="width:100%; min-height:220px;"class="img-responsive center-block" ng-src="/images/banner.png">
  </a>
</div>
</div>

<!-- This Area is hidden on an EXTRA SMALL screen. -->
<div id="main-banner"  class="jumbotron hidden-xs" ng-hide="main.isLoggedIn">

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div>
          <div>
            <p class="title"><i class="fa fa-quote-left" aria-hidden="true"></i><span>&nbsp;아름다움에 아름다움을 더 하다&nbsp;</span><i class="fa fa-quote-right" aria-hidden="true"></i></p>
          </div>
          <div>
            <p class="intro">&nbsp;&nbsp;캘리칼로스(callikallos)는 손 글씨를 좋아하는 사람들을 위한 공간입니다. 자신만의 손 글씨를 캘리칼로스라는 종이 위에 적어, 아름다움을 더 해주세요.</p>
          </div>

        </div>
      </div>
      <div class="col-md-1">
      </div>

<!-- 배너 이미지 -->
    <div class="hidden-sm col-md-5">
      <div class="banner-image">
        <a ui-sref="app.intro">
          <img class="img-responsive img-rounded" ng-src="/images/banner.gif">
          <span class="banner-author">Designed by 이광호</span>
        </a>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- main content -->
<div>
  <div class="container" ng-controller="HomeCtrl as home">
    <div class="container-fluid">
      <h2>The Handwriting</h2>
    </div>
    <div ng-init="getContent()">
      <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="photo in photos | limitTo : 8">
        <div class="card">
              <div class="card-image">
                <a ui-sref="app.gallery.show({photo_id: photo.photo_id, photo_type:photo.photo_type})" ui-sref-active="active">
                  <img class="img-responsive" ng-src="{{photo.photo_path}}">
                  <span class="card-author">By {{photo.username}}</span>
                </a>
              </div>
              <div class="card-action">
                 <!-- <span class="glyphicon glyphicon-heart" aria-hidden="true">{{photo.opinion_count}}</span> -->
                  <div class="row">
                    <div class="col-xs-6 col-sm-6" style="text-align:left">
                     <span class="text-left">{{photo.description}}</span>
                   </div>
                   <div class="col-xs-6 col-sm-6" style="text-align:right">
                     <i class="fa fa-heart" aria-hidden="true" style="color:#E96725;"></i>&nbsp;{{photo.view}}
                   </div>
                 </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
