<!-- 게시물 정보 -->
		<div style="padding:50px;">
			<div style="width:700px; margin:auto;">
				<div style="border:1px solid #dcdcdc; padding:25px;">
								<!-- Right-aligned -->

								<div class="media">
								  <div class="media-left">
										<a ui-sref="app.artist.show({artist_id: boardDatas.user_id})">
											<img class="img-rounded" style="width:50px; height:50px;" ng-src="{{board.boardDatas.profile_image}}" alt="">
										</a>								  </div>
								  <div class="media-body media-middle">
								    <h4 class="media-heading">{{board.boardDatas.username}}</h4>
								  </div>
								</div>


								<div class="media">
								  <div class="media-body media-bottom">
										<div style="font-weight:bold;">
								      <h1 class="media-heading">{{board.boardDatas.title}}</h1>
										</div>
										<div style="margin-top: 15px; margin-bottom: 15px; color:#969696;  font-size:0.9em;">
								    	<span>{{board.boardDatas.created | date : 'yyyy년 MM월 dd일'}}</span><div class="bar"></div><span><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{board.boardDatas.view}}</span>
										</div>
								  </div>

								  <div class="media-right media-middle">
								  </div>
								</div>

								<p ng-bind-html="board.htmlcontent | to_trusted">
								</p>
					</div>


						<div style="margin-top:100px; margin-bottom: 5px;">

						<div style="color:#e96725;">
							<p>댓글 0</p>
						</div>
						<div ng-show="main.isLoggedIn">
							<div id="summernote"></div>
						</div>
						<div class="" >
							<button style="width:100%;" class="btn btn-enroll">댓글 작성</button>
						</div>
						</div>



								<div ng-show="board.comment_count">
										<p>댓글 {{board.comment_count}}</p>
										<br>
								</div>

								<div class="comment_border" ng-init="getComment()">
												<div class="comment_list_border" ng-repeat="comment in comments">
														<div class="" style="float:right" ng-show="comment[1]">
															<a ng-click="deleteComment({comment_id: comment[0].comment_id})" class="btn btn-danger">Delete</a>
														</div>

														<div class="author_thmb">
															<a ui-sref="app.photos.show({id:comment[0].user_id})">
																<img ng-src="{{comment[0].profile_image}}" alt=""><span class="mask"></span>
															</a>
														</div>

														<div class="author_txt">
															<p><em>{{comment[0].username}}</em> {{comment[0].created | date : 'yyyy년 MM월 dd일'}} </p>
															<p>{{comment[0].content}}</p>
														</div>
												</div>
								</div>
			</div>
</div>
