			<div style="width:700px; margin:auto;">
				<div style="border:1px solid #dcdcdc; padding:25px;">
								<!-- Right-aligned -->

								<div class="media">
								  <div class="media-left">
											<img class="img-rounded" style="width:50px; height:50px;" ng-src="{{board.boardDatas.profile_image}}" alt="">
									</div>
								  <div class="media-body media-middle">
								    <h4 class="media-heading">{{board.boardDatas.username}}</h4>
								  </div>
								</div>


								<div class="media">
								  <div class="media-body media-bottom">
										<div style="font-weight:bold;">
								      <h1 class="media-heading">{{board.boardDatas.title}}</h1>
										</div>
										<div style="margin-top: 15px; margin-bottom: 15px; color:#969696;  font-size:0.9em;">
								    	<span>{{board.boardDatas.created | date : 'yyyy년 MM월 dd일'}}</span><div class="bar"></div><span><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{board.boardDatas.view}}</span>
										</div>
								  </div>

								  <div class="media-right media-middle">
								  </div>
								</div>

								<p ng-bind-html="board.htmlcontent | to_trusted">
								</p>
					</div>


					<div style="margin-top:100px; margin-bottom: 5px;">
						<div style="color:#e96725;">
							<p>댓글 {{board.commentData.length}}</p>
						</div>
						<div>
								<form ng-show="main.isLoggedIn" name="commentForm">
		                <div style="padding:0px; margin-bottom:5px;"class="form-group"  ng-class = "{'has-success': (commentForm.comment.$valid && !commentForm.comment.$pristine), 'has-error': (!commentForm.comment.$valid && !commentForm.comment.$pristine) ||
											(!commentForm.comment.$valid && commentForm.$submitted)}">
		                  <textarea class="form-control"  placeholder="댓글은 1,000자까지 작성할 수 있으며 주제와 무관한 댓글, 악성 댓글은 삭제될 수 있습니다."
		                    id="comment"  name = "comment" ng-model="comment.commentData"></textarea>
		               </div>
								</form>
		          </div>

						<div class="" >
							<button ng-click="board.createComment(comment.commentData);" style="width:100%;" class="btn btn-enroll" >댓글 작성</button>
						</div>
					</div>

					<div style="margin-top:50px;"class="comment_border">
							<div class="comment_list_border" ng-repeat="comment in board.commentData">
								<div class="media" style="padding:5px;">
									<div class="media-left media-middle">
											<img style="width:50px; height:50px;  border-radius: 10px;" ng-src="{{comment.profile_image}}">
									</div>
									<div class="media-body media-bottom">
										<P class="media-heading">&nbsp;<em>{{comment.username}}</em> {{comment.created | date : 'yyyy년 MM월 dd일'}}</P>
										<p>{{comment.content}}</p>
									</div>
								</div>
						</div>
				</div>
			</div>
</div>
