<div id="subContent" class="container">
<div id="communityWrap">

<!-- 게시물 정보 -->
			<div>
				<div style="border:1px solid #dcdcdc;">
							<div id="communityContent" class="row" style="padding:0px; margin:0px;">
								<!-- Right-aligned -->
								<div class="media" style="padding:10px;">
								  <div class="media-body media-bottom">
								    <h3 class="media-heading">#{{board.boardDatas.board_id}}.&nbsp;{{board.boardDatas.title.substring(0, 30)}}</h3>
								    <span>{{board.boardDatas.username}}</span><div class="bar"></div><span>{{board.boardDatas.created | date : 'yyyy년 MM월 dd일'}}</span><div class="bar"></div><span>조회수 {{board.boardDatas.view}}</span>
								  </div>

								  <div class="media-right media-middle">
										<a ui-sref="app.artist.show({artist_id: boardDatas.user_id})">
											<img style="width:80px; height:80px;" ng-src="{{board.boardDatas.profile_image}}" alt=""><span class="mask"></span>
										</a>
								  </div>
								</div>


							</div>

							<div id="communityContent" class="row"  style="padding:0px; margin:0px;">
								<div class="col-sm-12" style=" padding:20px;">
									<p>{{board.boardDatas.content}}.</p>
								</div>
							</div>
					</div>
			</div>

<!-- 게시물 정보 종료-->
<div id="makeBorder"></div>


<!-- 댓글 기능 -->
<div id="communityContent" class="row">

					<div class="col-sm-12">
<!-- 좋아요 및 댓글 개수 -->
								<div ng-show="board.comment_count">
										<p>댓글 {{board.comment_count}}</p>
										<br>
								</div>

<!-- 사용자가 로그인 하였을 때-->
								<div ng-if="main.isLoginIn">
									<form name="commentForm" novalidate>
											<div class="input-group " ng-class = "{'has-success': (commentForm.comment.$valid && !commentForm.comment.$pristine), 'has-error': (!commentForm.comment.$valid && !commentForm.comment.$pristine) ||
									      (!commentForm.comment.$valid && commentForm.$submitted)}">
											    <textarea class="form-control custom-control" rows="2" style="resize:none" placeholder="댓글은 1,000자까지 작성할 수 있으며 주제와 무관한 댓글, 악성 댓글은 삭제될 수 있습니다."
											    	id="comment"  name = "comment" ng-model="comment" required=""></textarea>
														<p class="help-block" ng-show="(!commentForm.comment.$pristine && commentForm.comment.$error.required) || (commentForm.$submitted && commentForm.comment.$error.required)">This filed is required</p>
											    <span ng-click="addComment({comment:comment, board_id: board.board_id}, commentForm.$valid)" class="input-group-addon btn btn-primary">댓글 작성</span>
											</div>
									</form>
								</div>

<!-- 사용자가 로그인 하지않았을 때-->
								<div ng-if="!main.isLoginIn">
										<form name="commentForm" novalidate>
												<div class="input-group " ng-class = "{'has-success': (commentForm.comment.$valid && !commentForm.comment.$pristine), 'has-error': (!commentForm.comment.$valid && !commentForm.comment.$pristine) ||
													(!commentForm.comment.$valid && commentForm.$submitted)}">
														<textarea ng-disabled="!main.isLoginIn"  class="form-control custom-control" rows="2" style="resize:none" placeholder="로그인 후 댓글 작성이 가능합니다."
															id="comment"  name = "comment" ng-model="comment" required=""></textarea>
															<p class="help-block" ng-show="(!commentForm.comment.$pristine && commentForm.comment.$error.required) || (commentForm.$submitted && commentForm.comment.$error.required)">This filed is required</p>
														<span ng-disabled="!main.isLoginIn"  ng-click="addComment(comment, commentForm.$valid)" class="input-group-addon btn btn-primary">댓글 작성</span>
												</div>
										</form>
								</div>

								<div class="comment_border" ng-init="getComment()">
												<div class="comment_list_border" ng-repeat="comment in comments">
														<div class="" style="float:right" ng-show="comment[1]">
															<a ng-click="deleteComment({comment_id: comment[0].comment_id})" class="btn btn-danger">Delete</a>
														</div>

														<div class="author_thmb">
															<a ui-sref="app.photos.show({id:comment[0].user_id})">
																<img ng-src="{{comment[0].profile_image}}" alt=""><span class="mask"></span>
															</a>
														</div>

														<div class="author_txt">
															<p><em>{{comment[0].username}}</em> {{comment[0].created | date : 'yyyy년 MM월 dd일'}} </p>
															<p>{{comment[0].content}}</p>
														</div>
												</div>
								</div>
							</div>

</div>
<!-- 댓글 종료 -->
</div>
</div>
