/*	--------------------------------------------------
                <!-- 전체 적용--!>
                 color: #e96725;

-------------------------------------------------- */
div.image-default img {
  min-width: 250px;
  min-height: 250px;
  max-widht: 300px;
  max-height: 300px;
  margin: 15px;
  border-radius: 5px;
}
.btn-enroll {
  background-color: #e96725;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}
.btn-enroll:active,
.btn-enroll:focus {
  color: #fff;
}
.btn-enroll:hover {
  background-color: #d15c21;
  color: #fff;
}
/*	--------------------------------------------------
  <!-- container custom / 전체 적용--!>
-------------------------------------------------- */
.container {
  padding-right: 0px;
  padding-left: 0px;
}
/*	--------------------------------------------------
      <!-- 전체 스타일 커스텀  --!>
-------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 100%;
}
#wrap {
  height: 100%;
}
#body {
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
}
#footer {
  padding: 25px 10px 25px 10px;
  width: 100%;
  height: 75px;
  background-color: #e96725;
}
/*	--------------------------------------------------
  <!-- Start custom main-banner --!>
-------------------------------------------------- */
.banner-image img {
  background-clip: padding-box;
  position: relative;
}
.banner-image span.banner-author {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 25px 5px 15px;
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-shadow: 1px 1px 2px #000;
}
div#main-banner {
  background: #e96725; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ed8550, #e96725); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ed8550, #e96725); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ed8550, #e96725); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ed8550, #e96725); /* Standard syntax (must be last) */
  padding: 50px 0px 50px 0px;
}
div#main-banner .title {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10%;
  color: #fff;
}
div#main-banner .intro {
  color: #fff;
}
div#main-banner img {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
div#main-banner .register {
  background-color: #fff;
  padding: 30px;
}
div#main-banner .btn-enroll,
div#register .btn-enroll {
  margin-top: 15px;
  margin-bottom: 15px;
}
div#main-banner .showrule,
div#register .showrule,
div#upload .showrule {
  font-size: 0.8em;
  padding: 5px;
}
/*	--------------------------------------------------
  <!-- End custom main-banner --!>
-------------------------------------------------- */
/*	--------------------------------------------------
  <!-- Start custom Modal --!>
-------------------------------------------------- */
.modal-header,
.close {
  background-color: #e96725;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
p.modal-title {
  color: #fff !important;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
.modal-body {
  margin: 10px;
}
.modal-footer,
.modal-footer a {
  background-color: #f9f9f9;
  color: #000 !important;
  text-decoration: none;
}
.modal-body input,
.modal-body button {
  min-height: 50px;
  font-size: 1em;
  font-weight: bold;
}
/*	--------------------------------------------------
  <!-- End custom Modal --!>
-------------------------------------------------- */
/*	--------------------------------------------------
  <!-- Start custom lougout --!>
-------------------------------------------------- */
.dizzy-gillespie {
  filter: saturate(3);
  width: 0.1px;
  height: 0.1px;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 3s ease-in infinite, spin 1s linear infinite;
  margin: auto;
}
.dizzy-gillespie::before {
  filter: saturate(0.3);
  display: block;
  position: absolute;
  z-index: -1;
  margin-left: -40px;
  margin-top: -40px;
  content: '';
  height: 0.1;
  width: 0.1;
  border: 40px solid transparent;
  border-radius: 5px;
  animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
}
.dizzy-gillespie::after {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: -10px;
  margin-top: -10px;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #fff;
}
/*	--------------------------------------------------
  <!-- End custom lougout --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start custom board-list --!>
-------------------------------------------------- */
div#communityWrap {
  width: 800px;
  padding: 10px;
  margin: auto;
}
div#communityContent {
  padding: 10px;
  margin-bottom: 15px;
}
div#listTitle a {
  text-decoration: none;
  font-size: 1.2em;
  color: #000;
}
div#listTitle a:hover {
  color: #e96725;
}
div#listContent a {
  text-decoration: none;
  color: #000;
}
.list-contents {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 1rem 0;
}
.listBorder {
  border: 1px solid #e96725;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main_common {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
div.main_common i {
  margin-right: 5px;
}
/*	--------------------------------------------------
      <!-- End custom board-list --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom resetForm --!>
-------------------------------------------------- */
div#resetForm {
  min-height: 100%;
  background-color: #e96725;
  padding-top: 50px;
}
div#resetForm a.go-home {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
div#resetForm p.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
div#resetForm label {
  margin-left: 5px;
}
div#resetForm input {
  min-height: 50px;
  font-size: 1em;
  font-weight: bold;
}
div#resetForm button {
  min-height: 50px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
}
.resetForm {
  margin: 0 auto;
  width: 470px;
  padding: 40px;
  border-radius: 3px;
  background: #fff;
}
@media screen and (max-width: 550px) {
  div#resetForm {
    min-height: 100%;
    padding-top: 10px;
  }
  .resetForm {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    padding: 20px;
  }
  div#resetForm a.go-home {
    font-size: 2em;
  }
  div#resetForm p.title {
    font-size: 1.5em;
  }
}
/*	--------------------------------------------------
      <!-- End Custom resetForm --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom 개인 가입 약관 동의 --!>
-------------------------------------------------- */
.cont_terms {
  overflow-y: auto;
  height: 94px;
  padding: 15px;
  font-size: 12px;
  color: #767676;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #e5e5e5;
}
.tit_terms {
  font-size: 1em;
  font-weight: bold;
}
.check_agree {
  margin-top: 10px;
  font-size: 0.8em;
}
input#termsAgree.input_check {
  min-height: 0px;
}
/*	--------------------------------------------------
      <!-- End Custom 개인 가입 약관 동의 --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom resetForm --!>
      <!-- 갤러리, 아티스트  레이아웃 커스텀  --!>
-------------------------------------------------- */
div#mainContent {
  padding-top: 50px;
  padding-bottom: 50px;
}
div#subContent {
  padding: 50px;
}
div#makeBorder {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #e96725;
}
div#withBorder {
  padding: 20px 50px 50px 50px;
}
/*	--------------------------------------------------
      <!-- End Custom resetForm --!>
      <!-- 갤러리, 아티스트  레이아웃 커스텀  --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom parial-gallery --!>
-------------------------------------------------- */
.photo .photo-image {
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}
.photo .photo-image img {
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
  position: relative;
  width: 100%;
}
.photo .photo-image span.photo-author {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.photo span.photo-author {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-shadow: 1px 1px 2px #000;
}
/*	--------------------------------------------------
      <!-- End Custom parial-gallery --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom parial-gallery Card  --!>
-------------------------------------------------- */
.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card {
  margin-top: 25px;
  box-sizing: border-box;
  background-color: #fff;
  background-clip: padding-box;
}
.card span.card-author {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-shadow: 1px 1px 2px #000;
}
.card .card-image {
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}
.card .card-image img {
  border-radius: 5px 5px 0 0;
  background-clip: padding-box;
  position: relative;
  width: 100%;
  height: 200px;
}
.card .card-image span.card-author {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.card .card-image span.card-type {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}
.card .card-content {
  font-size: 1em;
  font-weight: 300;
  padding: 10px 20px 10px 20px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 30px;
}
.card .card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 10px 20px 10px 20px;
}
/*	--------------------------------------------------
      <!-- End Custom parial-gallery Card  --!>
-------------------------------------------------- */
/*	--------------------------------------------------
      <!-- Start Custom parial-artist namecard  --!>
-------------------------------------------------- */
.namecard-container {
  margin-top: 50px;
}
.namecard {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.namecard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.namecard {
  box-sizing: border-box;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
}
.namecard-header {
  border-radius: 3px;
  position: relative;
  margin: 15px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.namecard .namecard-image {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.namecard .namecard-image img {
  background-clip: padding-box;
  position: relative;
  width: 100%;
  height: 200px;
}
.namecard span.namecard-author {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  text-shadow: 1px 1px 2px #000;
}
.namecardContainer {
  margin-top: -20px;
  min-height: 100px;
}
.namecard .namecard-content {
  font-size: 1em;
  font-weight: 300;
  padding: 10px 20px 10px 20px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.namecard .namecard-content p {
  margin: 0;
  color: inherit;
}
.namecard .namecard-action {
  text-align: center;
  color: #e96725;
}
/*	--------------------------------------------------
    <!-- End Custom parial-artist namecard  --!>
-------------------------------------------------- */
/*	--------------------------------------------------
<!-- #navbar-main --!>
-------------------------------------------------- */
#main-navbar.navbar-default .navbar-brand {
  background-color: #fff;
  color: #e96725;
}
#main-navbar.navbar-default {
  margin-bottom: 0px;
  font-size: 15px;
  background-color: #fff;
  border-bottom-width: 1px;
}
@media screen and (min-width: 320px) {
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin: 0px;
  }
}
#main-navbar.navbar-default .navbar-nav>li>a {
  color: #000;
  background-color: #fff;
}
#main-navbar.navbar-default .navbar-nav>li>a:hover,
#main-navbar.navbar-default .navbar-nav>li>a:focus {
  color: #e96725;
  background-color: #fff;
}
#main-navbar.navbar-default .navbar-nav>.active>a,
#main-navbar.navbar-default .navbar-nav>.active>a:hover,
#main-navbar.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #fff;
}
#main-navbar.navbar-default .navbar-toggle {
  background-color: #fff;
  border: 0px;
}
#main-navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #e96725;
}
#main-navbar.navbar-default .navbar-toggle:focus {
  background-color: #e96725;
}
#main-navbar.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/*	--------------------------------------------------
<!-- board 게시판 유저 이미지 및 텍스트 Custom  --!>
-------------------------------------------------- */
div.textarea {
  resize: none;
  height: 76px;
  padding: 16px 20px 0 20px;
  line-height: 21px;
  border: 0;
  background: transparent;
  font-size: 13px;
}
/*	--------------------------------------------------
<!-- board 게시판 유저 이미지 및 텍스트 Custom  --!>
-------------------------------------------------- */
.bar {
  width: 1px;
  height: 10px;
  margin: 0 5px 0 7px;
  font-size: 0;
  background: #d0d0d0;
  display: inline-block;
  vertical-align: middle;
}
/*	--------------------------------------------------
              전체 스크롤 메뉴 커스텀
-------------------------------------------------- */
div.scrollmenu {
/*	--------------------------------------------------
z-index: 1;
position: fixed; /* Set the navbar to fixed position
top: 63px; /* Position the navbar at the top of the page
-------------------------------------------------- */
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  margin-right: -5px;
  font-size: 1.1em;
}
div.scrollmenu a:hover {
  background-color: #e96725;
  color: #fff;
}
div.scrollmenu a.active {
  background-color: #e96725;
  color: #fff;
}
/*	--------------------------------------------------
      보드 스크롤 메뉴 커스텀
-------------------------------------------------- */
div#board.scrollmenu {
  width: 100%;
  background-color: #e96725;
  border: 0px;
  overflow: auto;
  white-space: nowrap;
}
div#board.scrollmenu a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  margin-right: -5px;
  font-size: 1.1em;
}
div#board.scrollmenu a.active > span {
  border-bottom: 1.5px solid #fff;
  padding: 0;
}
div#board.scrollmenu a:hover > span {
  border-bottom: 1.5px solid #fff;
  padding: 0;
}
div#board.scrollmenu a:hover {
  color: #fff;
}
div#board.scrollmenu a.active {
  color: #fff;
}
/*	--------------------------------------------------
<!-- board profile-img 위치 조정 -->
-------------------------------------------------- */
.list-profile-img {
  margin-top: 5px;
  margin-right: 10px;
  float: left;
  background: url("../images/default.jpg") 50% 50% no-repeat; /* 50% 50% centers image in div */
  background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
  width: 30px;
  height: 30px;
}
@-moz-keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@-webkit-keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@-o-keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@keyframes loader {
  0% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
  25% {
    border-left-color: transparent;
    border-right-color: #826c75;
  }
  50% {
    border-top-color: transparent;
    border-bottom-color: #f29492;
  }
  75% {
    border-right-color: transparent;
    border-left-color: #826c75;
  }
  100% {
    border-bottom-color: transparent;
    border-top-color: #114357;
  }
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
