<div id="mainContent" class="container">
  <div class="row">
    <div class="col-sm-8">
      <form name="outerForm" class="tab-form-demo">
        <uib-tabset active="activeJustified" justified="true">
          <uib-tab index="0" heading="작품">

              <div class="row container-fluid">
                <div class="col-sm-6" ng-repeat="photo in anArtistPhoto.artistPhotos">
                  <div class="card">
                        <div class="card-image">
                          <a ui-sref="app.gallery.show({photo_id: photo.photo_id, photo_type:photo.photo_type})" ui-sref-active="active">
                            <img class="img-responsive" ng-src="{{photo.photo_path}}">
                          </a>
                        </div>
                        <div class="card-content">
                            <p>{{photo.photo_title}}</p>
                        </div>
                        <div class="card-action">
                           <!-- <span class="glyphicon glyphicon-heart" aria-hidden="true">{{photo.opinion_count}}</span> -->
                            <div class="row">
                              <div class="col-xs-6 col-sm-6" style="text-align:left">
                               <span class="text-left">{{photo.description}}</span>
                             </div>
                             <div class="col-xs-6 col-sm-6" style="text-align:right">
                                <i class="fa fa-heart" aria-hidden="true" style="color:#E96725;"></i>  {{photo.view}}
                             </div>
                           </div>
                        </div>
                    </div>
                  </div>
              </div>
          </uib-tab>
        </uib-tabset>
      </form>

    </div>
    <div class="col-sm-4">
      <div class ="row show-hide-message" ng-show="anArtistPhoto.successMsg">
        <div class="alert alert-success">{{anArtistPhoto.successMsg}}</div>
      </div>
      <div class ="row show-hide-message" ng-show="anArtistPhoto.errorMsg">
        <div class="alert alert-danger">{{anArtistPhoto.errorMsg}}</div>
      </div>

      <div style="border:1px solid #dcdcdc; padding:25px; margin-top:75px;">
          <div class="media">
            <div class="media-left media-middle">
              <img style="width:70px; height:70px;  border-radius: 10px;" ng-src="{{anArtistPhoto.artistData.profile_image}}">
            </div>
            <div class="media-body media-bottom">
              <P class="media-heading">&nbsp;<i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;{{anArtistPhoto.artistData.username}}</P>
              <a ng-click="anArtistPhoto.contactArtist()"><p>&nbsp;<i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;{{anArtistPhoto.artistData.email}}</p></a>
            </div>
          </div>
      </div>
      <div style="border:1px solid #dcdcdc; padding:25px; margin-top: 25px;">
      </div>
    </div>


  </div>



</div>
