<!-- MyPhotosController -->
<div id="mainContent" class="container">
  <uib-tabset active="activeJustified" justified="true">
<!-- 이미지 업로드 -->
    <uib-tab index="0" heading="작품 업로드">
      <div  id="subContent" ng-controller="uploadPhotoCtrl as upload">
        <div class ="row show-hide-message" ng-show="upload.successMsg">
          <div class="alert alert-success">{{upload.successMsg}}</div>
        </div>
        <div class ="row show-hide-message" ng-show="upload.errorMsg">
          <div class="alert alert-danger">{{upload.errorMsg}}</div>
        </div>
        <div class="alert alert-info" ng-show="loading">이미지 업로드 중입니다.
        </div>
        <div class="row">
          <div class="col-sm-12">
          <label>작품 메인 이미지</label>
            <div class="text-center">
              <div class="image-default">
                <img style="height: 50px;" class="img-responsive center-block" src="/images/default.jpg" ng-src="{{upload.mainThumbnail.dataUrl}}">
              </div>
              <form ng-submit="upload.readPhoto()">
                <label class="btn btn-success">이미지 찾기
                    <input ng-disabled="upload.disabled"  type="file" file-model="upload.file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().upload.mainPhotoChanged(this.files)">
                </label>
                    <button ng-disabled="upload.disabled"  class="btn btn-default">이미지 업로드</button>
              </form>
              <br>

            </div>
          </div>
        </div>

<!-- 썸네일 -->
<!-- 썸네일 이미지 올리기 전 -->
<!--  ng-hide="myCroppedImage" -->
          <div class="row" >
            <div class="col-sm-12" ng-hide="myCroppedImage">
              <label>썸네일</label>
              <div class="text-center">
                  <div class="image-default">
                    <img style="height: 50px;" class="img-responsive center-block" src="/images/default.jpg">
                  </div>
                  <div class="">
                    <input class="btn" style="display: inline; margin-left: 70px;"type="file" id="fileInput"/>
                  </div>
              </div>
            </div>

<!-- 썸네일 이미지 올린 후 -->
              <div ng-show="myCroppedImage">
<!-- 썸네일 이미지를 업로드 후 사라짐 시작-->
                  <div class="col-sm-6"  ng-hide="imageuploaded">
                    <div class="media">
                      <div class="media-body">
                        <label>썸네일</label>
                      </div>
                      <div class="media-right">
                      </div>
                    </div>
                    <br>
                    <div class="text-center" >
                      <div class="cropArea" ng-show="myCroppedImage">
                        <ui-cropper image="upload.myImage" area-type="rectangle" result-image="myCroppedImage" result-image-size='{w: 400,h: 250}' ></ui-cropper>
                      </div>
                    </div>
                </div>
<!-- 썸네일 이미지를 업로드 후 사라짐 종료-->

                <div class="col-sm-6">
                    <div>
                        <label>썸네일</label>
                    </div>
                    <br>
                    <div class="text-center">
                      <div>
                        <img style="background-color:#000000;"ng-src="{{myCroppedImage}}" />
                      </div>
                      <br>
                      <div ng-hide="imageuploaded">
                        <p>검은색 공간이 보이지 않도록 채워주세요.</p>
                        <a ng-disabled="upload.disabled"  ng-click="upload.readCropImage({base64Url: myCroppedImage});"class="btn btn-enroll">썸네일 업로드</a>
                      </div>

                    </div>
                </div>
                <div ng-show="imageuploaded" class="col-sm-6">
                  <div class="form-group">
                    <label for="title">카테고리(필수)</label>
                    <select  ng-disabled="upload.disabled"  class="form-control" name="mySelect" id="mySelect"
                      ng-options="option.name for option in upload.data.availableOptions track by option.id"
                      ng-model="upload.data.selectedOption">
                    </select>
                  </div>
                    <div class="form-group">
                      <label for="title">작품 제목(필수)</label>
                      <input ng-disabled="upload.disabled"  type="text" class="form-control" id="title" ng-model="upload.uploadData.title" placeholder="내용을 입력해주세요.">
                    </div>
                </div>

            </div>
          </div>

          <br>
          <div class="row" >
            <div class="col-sm-12">
              <div class="form-group ">
                <label for="detail">작품 설명(필수)</label>
                <input ng-disabled="upload.disabled"  type="text" class="form-control" id="detail" ng-model="upload.uploadData.detail" placeholder="내용을 입력해주세요.">
              </div>
              <div id="makeBorder"></div>
              <div class="form-group text-center">
                <button ng-click="upload.createPhoto(upload.uploadData)" ng-disabled="upload.disabled"  type="submit" class="btn btn-enroll">작품 업로드</button>
              </div>
            </div>
          </div>
      </div>
    </uib-tab>
<!-- 작품 업로드 컨트롤러 종료 -->

<!-- 작가 정보 시작 -->
    <uib-tab index="1" heading="작가 정보">
      <div id="subContent">
            <div class ="row show-hide-message" ng-show="artistProfile.successMsg">
              <div class="alert alert-success">{{artistProfile.successMsg}}</div>
            </div>
            <div class ="row show-hide-message" ng-show="artistProfile.errorMsg">
              <div class="alert alert-danger">{{artistProfile.errorMsg}}</div>
            </div>
            <form ng-submit="artistProfile.updateAristProfile(artistProfile.artistData)">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="username">한 줄 소개</label><span>(필수)</span>
                      <input ng-disabled="artistProfile.disabled"   type="short_info" ng-model="artistProfile.artistData.short_info" class="form-control" id="username"  placeholder="내용을 입력해주세요.">
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="email">대표 사이트</label>
                      <input ng-disabled="artistProfile.disabled"  type="username" ng-model="artistProfile.artistData.social_site" class="form-control" id="username" placeholder="ex) 개인 블로그 및 소셜네트워크 서비스">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="pwd">상세소개</label><span>(필수)</span>
                    <textarea ng-disabled="artistProfile.disabled"   class="form-control" ng-model="artistProfile.artistData.detail_info"  rows="5" id="content" ng-model="content" placeholder="내용을 입력해주세요"></textarea>
                  </div>
                  <div id="makeBorder"></div>

                  <div class="form-group text-center">
                    <button  ng-disabled="artistProfile.disabled"  type="submit" class="btn btn-enroll">작가 정보 변경</button>
                  </div>
              </form>
        </div>
    </uib-tab>


  </uib-tabset>
</div>
