<!-- MyPhotosController -->
<div id="mainContent" class="container">
  <uib-tabset active="activeJustified" justified="true">
<!-- 이미지 업로드 -->
    <uib-tab index="0" heading="작품 업로드">
      <div  id="subContent">
            <label>작품 메인 이미지</label>
            <div  id="subContent" class="text-center">
                  <img class="mythumbnail" src="/images/default.jpg" ng-src="{{mainThumbnail.dataUrl}}">
                  <form ng-submit="insertPhotoTemp()">
                    <label class="btn btn-success">이미지 찾기
                        <input ng-disabled="loading" type="file"  file-model="file.upload" name="myfile" style="display: none;" onchange="angular.element(this).scope().mainPhotoChanged(this.files)">
                    </label>
                        <button ng-disabled="loading" class="btn btn-default">이미지 업로드</button>
                  </form>
                  <br>

                  <div class="alert alert-info" ng-show="loading">이미지 업로드 중입니다.
                  </div>
                  <div ng-show="message">
                      <div ng-class="alert">{{ message }}</div>
                  </div>

            </div>

            <form ng-submit="insertPhoto(title, detail)">
              <div class="form-group">
                <label for="title">카테고리(필수)</label>

                <select class="form-control" name="mySelect" id="mySelect"
                  ng-options="option.name for option in data.availableOptions track by option.id"
                  ng-model="data.selectedOption">
                </select>
              </div>
                <div class="form-group">
                  <label for="title">작품 제목(필수)</label>
                  <input type="text" class="form-control" id="title" ng-model="title" placeholder="내용을 입력해주세요.">
                </div>
                <div class="form-group ">
                  <label for="detail">작품 설명(필수)</label>
                  <input type="text" class="form-control" id="detail" ng-model="detail" placeholder="내용을 입력해주세요.">
                </div>

                <div class="form-group text-center">
                <button ng-disabled="loading" type="submit" class="btn btn-default">업로드 완료</button>
                <a class="btn btn-default">취소</a>
                </div>
                <div ng-show="mainMessageStatus">
                    <div ng-class="alert">{{ mainMessage }}</div>
                </div>
            </form>
      </div>
    </uib-tab>

    <uib-tab index="1" heading="작품 정보" ng-init="getArtist()">
  					<div  id="subContent" class="text-center">
  							<div class="author">
  										<img class="mythumbnail"  ng-src="{{artistInfo[0].profile_image}}">
  								<p><h3 class="name">{{artistInfo[0].username}}</h3></p>
  							</div>
  					</div>

  				  <div class="scrollmenu text-center">
              <a ui-sref-active="active">작품</a>
  				  </div>


            <div  id="subContent">
              <div class="row container-fluid">
                <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="artist in artistInfo | filter:search |orderBy : data.selectedOption.sort ">
                  <div class="card">
                        <div class="card-image">
                          <a ui-sref="app.gallery.show({photo_id: artist.photo_id, photo_type:artist.photo_type})" ui-sref-active="active">
                            <img class="img-responsive" ng-src="{{artist.photo_path}}">
                            <span class="card-type">{{artist.description}}</span>
                          </a>
                        </div>
                        <div class="card-content">
                            <p>{{artist.photo_title}}</p>
                        </div>

                        <div class="card-action">
                           <!-- <span class="glyphicon glyphicon-heart" aria-hidden="true">{{photo.opinion_count}}</span> -->
                            <div class="row">
                             <div class="col-xs-12">
                               <div id="listContent" class="main ">
                                   <div class="main_1 main_common">
                                       <i class="fa fa-eye" aria-hidden="true"></i>{{artist.view}}
                                   </div>
                                   <div class="main_2 main_common">
                                       <i class="fa fa-comment-o" aria-hidden="true"></i>{{artist.comment_count}}
                                   </div>
                               </div>
                             </div>
                           </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
    </uib-tab>
    <uib-tab index="2" heading="작가 정보" ng-init="getUserDetail()" style="color:#000000;">
      <div id="subContent">
            <div ng-show="mainMessageStatus">
                <div ng-class="alert">{{ mainMessage }}</div>
            </div>
            <form ng-submit="insertUserDetail(userInfo2)">
                  <div class="form-group">
                    <label for="username">한 줄 소개</label>
                    <input type="short_info" ng-model="userInfo2.short_info" class="form-control" id="username"  placeholder="내용을 입력해주세요.">
                  </div>

                  <div class="form-group">
                    <label for="pwd">상세소개</label>
                    <textarea class="form-control" ng-model="userInfo2.detail_info"  rows="5" id="content" ng-model="content" placeholder="내용을 입력해주세요"></textarea>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label for="email">대표 사이트</label>
                      <input type="username" ng-model="userInfo2.social_site" class="form-control" id="username" placeholder="ex) 개인 블로그 및 소셜네트워크 서비스">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="pwd">공개 이메일</label>
                      <input type="username" ng-model="userInfo2.public_email" class="form-control" id="username" placeholder="ex) 홈페이지에 공개 가능한 이메일">
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="pwd">전문 분야</label> <span ng-show="userInfo2.user_type" style="color:#E96725;"><tt>[{{userInfo2.type_name}}]</tt></span>
                      <select class="form-control" name="mySelect" id="mySelect"
                        ng-options="option.name for option in data.availableOptions track by option.id"
                        ng-model="data.selectedOption">
                      </select>
                    </div>
                  </div>

                  <div id="makeBorder"></div>
                  <div id="withBorder">
                    <p>입력하신 프로필 정보(프로필 이미지, 국가, 성별, 나이, 한 줄 소개, 대표 사이트, 공개 이메일, 활동분야, 상세 소개, SNS, 히스토리, 책)는 커뮤니케이션을 위한 회원간 공개 또는 서비스 이용 통계를 목적으로 회원탈퇴 혹은 직접 삭제 전까지 보관됩니다.</p>
                  </div>

                  <div class="form-group text-center">
                    <button  ng-disabled="loading"  type="submit" class="btn btn-default">동의 및 저장</button>
                    <a ng-href="/" class="btn btn-default">취소</a>
                  </div>
              </form>
        </div>
    </uib-tab>


  </uib-tabset>
</div>
