<div id="loginForm">
  <div class="title">
    <a ng-href="/">
      <h1>forgot Password</h1>
    </a>
  </div>
  <div class="loginForm">
    <h1>Username</h1>
    <br>
    <div class ="row show-hide-message" ng-show="password.successMsg">
      <div class="alert alert-success">{{password.successMsg}}</div>
    </div>
    <div class ="row show-hide-message" ng-show="password.errorMsg">
      <div class="alert alert-danger">{{password.errorMsg}}
      </div>
    </div>



    <form name="userForm" ng-submit="password.sendPassword(resetData, userForm.$valid)" novalidate>

      <div>
        <input ng-disabled="password.disabled"  placeholder="enter your username" class="form-control" type="text" name="username" ng-model="password.resetData.username" required>
      </div>

      <br>
        <button  ng-disabled="password.disabled"  class="btn btn-success" type="submit">확인</button>
      <br>
    </form>

</div>
